/*폰트 불러오기*/
@font-face {
    font-family: "대한민국정부상징체";
    src: url("fonts/GovernmentSymbol.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* 기본 레이아웃*/
html,
body {
    height: 100%;
}
body {
    background-color: white !important;
    margin: 0;
    font-family: "Noto Sans", Arial, sans-serif;
    background: #ffffff;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer-info p {
    color: #d9d9d9 !important;
}

.footer-bottom p {
    color: #f8f8f8 !important;
}

/*전체 폰트 사이즈*/
h2 {
    font-size: 48px;
    margin: 0;
    color: black !important;
    font-family: "대한민국정부상징체", sans-serif;
}
h3 {
    font-size: 32px;
    margin: 0;
    color: black !important;
}
h4 {
    font-size: 24px;
    margin: 0;
    color: black !important;
}
h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    color: black !important;
}
p {
    font-size: 16px;
    margin: 10px 0 10px 0 !important;
    color: #000 !important;
}

/*HTML 기본 스타일링*/
figure {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit !important;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #000;
}

/*page nav 요소*/
.nav-arrow {
    font-size: 16px;
    color: #b4b4b4;
    margin: 0 6px;
}
.map-arrow {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 6px;
}
.nav-text {
    color: #8c8c8c;
}
.nav_location {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8c8c8c !important;
    font-size: 16px;
}

.nav_location a:hover {
    text-decoration: underline;
}

/*pageheader*/
.pageheader {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Material icons styling */
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
}
