* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.slider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

        .slide img {
            width: 100%;
            height: auto;
            display: block;
        }

        .slide-content {
            position: absolute;
            top: 20%;
            left: 5%;
            text-align: left;
            color: white;
            z-index: 10;
            padding-bottom: 60px;
        }

        .slide-content h2 {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 15px;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        }

        .slide-content h4 {
            font-size: 1.5rem;
            font-weight: medium;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        }

        .indicators {
            position: absolute;
            top: 20%;
            left: 5%;
            margin-top: calc(3rem + 1.75rem * 1.5 + 150px);
            display: flex;
            z-index: 20;
        }

        .indicator {
            width: 150px;
            height: 6px;
            background-color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .indicator:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }

        .indicator.active {
            background-color: white;
            width: 150px;
        }

        .info_box {
            width: 100%;
            height: 40%; /*수정예정*/

            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            padding: 10px;
        }

        /* 반응형 */
        @media (max-width: 768px) {
            .slide-content h2 {
                font-size: 2rem;
            }

            .slide-content h4 {
                font-size: 1rem;
            }
            
            .indicators {
                margin-top: calc(2rem + 1rem * 1.5 + 100px);
            }
        }

        main {
            padding-top: 50px;
            padding-bottom: 100px;
        }

        .breadcrumb {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 0.9rem;
        }

        .breadcrumb a {
            text-decoration: none;
            color: #8C8C8C;
        }

        .breadcrumb p {
            font-size: 24px;
        }

        .section-header {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }

        .section-title {
            color: #000000;
            font-size: 48px;
        }

        /* 탭 메뉴 스타일 */
        .tab-menu {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        .tab-menu input[type="radio"] {
            display: none;
        }

        .tab-menu label {
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
            color: #999;
            cursor: pointer;
            position: relative;
            transition: color 0.2s;
        }

        .tab-menu label:hover {
            color: #333;
            border-color: #999;
        }

        .tab-menu input[type="radio"]:checked + label {
            text-decoration: underline;
            color: black;
        }

        /* 탭 패널 */
        .tabpanel {
            display: none;
            margin-top: 40px;
        }

        .tabpanel.active {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .tabpanel-container {
            width: 100%;
            max-width: 1200px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 10px;
            column-gap: 20px;
        }

        @media (max-width: 1400px) {
            .tabpanel-container {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        @media (max-width: 1024px) {
            .tabpanel-container {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        @media (max-width: 768px) {
            .tabpanel-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .card {
            box-sizing: border-box;

            width: 100%;
            height: 500px;

            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden; /*#########*/
        }

        .card:hover {
            cursor: pointer;
            transform: translateY(-6px);
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .pic_box {
            width: 100%;
            height: 60%;
            overflow: hidden;
            position: relative;
        }

        .tabpanel-pic {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-sizing: border-box;
        }

        /* 찜하기 버튼 */
        .wishlist-btn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 50%;
            background-color: #1A1A1A4D;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 10;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .wishlist-btn:hover {
            border-color: #999;
            transform: translateY(-4px);
            box-shadow: 0 5px 15px rgba(0,0,0,0.15);
        }

        .wishlist-btn svg {
            width: 25px;
            height: 25px;
            fill: none;
            stroke: #ffffff;
            stroke-width: 2;
        }

        .info_box {
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .info {
            line-height: 1.2;
        }

        .info:nth-child(1) {
            color: #00000099;
            font-size: 16px;
            font-weight: 400;
        }

        .info:nth-child(2) {
            font-size: 20px;
            font-weight: 400;
            color: #000000;
        }

        .info:nth-child(3) {
            font-size: 20px;
            font-weight: 400;
            color: #00000099;
        }

        .info:nth-child(4) {
            font-weight: bold;
            color: #000000;
            font-size: 32px;
        }

        /* 상품 태그 */
        .product-tags {
            display: flex;
            gap: 4px;
            margin-top: 3px;
            flex-wrap: wrap;
        }

        .tag {
            padding: 3px;
            gap: 10px;
            font-size: 14px;
            font-weight: bold;
            color: white;
        }

        .tag.new {
            background-color: #A26DB8;
        }

        .tag.best {
            background-color: #B961A3;
        }

        .tag.recommend {
            background-color: #8ABEBB;
        }